* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background: linear-gradient(180deg, #594cee 0%, #aaeaff 100%);
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: #5346df;
}

#country {
    height: 18px;
}